.container {
  padding: 1rem;
}

// Title Styles
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  height: 8vh;
}

.workouts {
  background-image: url("../../../../assets/images/workouts.jpg");
}

h2 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  color: ghostwhite;
  font-size: 2.5rem;
}

// Form Styles
.form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 1rem;
}

.input-field {
  padding-right: 2rem;
  font-size: 1rem;
}

button {
  margin-left: auto;
  height: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
}

// Table Styles
.table {
  height: 300px;
  overflow: auto;
  text-align: start;
}

// Table Styles
.table-container {
  height: 300px;
  overflow: auto;
  text-align: start;
}

table {
  -ms-overflow-style: none; /* IE and Edge */
  width: 100%;
  scrollbar-width: none; /* Firefox */
}

table th {
  font-size: 1.2rem;
}

table td {
  font-size: 1rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.table-container::-webkit-scrollbar {
  display: none;
}

tr.mat-footer-row {
  font-weight: bold;
  text-align: start;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

// Media Queries

// Media Queries

@media screen and (max-width: 700px) {
  .title-container {
    height: 10vh;
  }
  .form-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .input-field {
    padding-right: 0rem;
    width: 100%;
  }
  button {
    margin-left: 0;
    width: 60%;
  }
}
