<section class="container">
  <header class="title-container" [ngClass]="title">
    <h2>{{ titleCaptialized }}</h2>
  </header>
  <!-- Form -->
  <div class="form-container">
    <mat-form-field class="input-field" appearance="fill" color="accent">
      <mat-label>Workout</mat-label>
      <input
        matInput
        [placeholder]="placeholder"
        type="text"
        [(ngModel)]="workout"
      />
    </mat-form-field>
    <mat-form-field class="input-field" appearance="fill" color="accent">
      <mat-label>Calories</mat-label>
      <input matInput placeholder="Ex. 200" type="number" [(ngModel)]="cals" />
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="createWorkout()">
      Add Workout
    </button>
  </div>
  <div class="food-list">
    <!-- Food Table -->
    <section class="table-container mat-elevation-z8" tabindex="0">
      <table mat-table [dataSource]="dataSource">
        <!-- Food Column -->
        <ng-container matColumnDef="workout">
          <th mat-header-cell *matHeaderCellDef>Workout</th>
          <td mat-cell *matCellDef="let workoutList">
            {{ workoutList.exercise }}
          </td>
          <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>
        <!-- Cals Column -->
        <ng-container matColumnDef="cals">
          <th mat-header-cell *matHeaderCellDef>Calories</th>
          <td mat-cell *matCellDef="let workoutList">
            {{ workoutList.cals }}
          </td>
          <td mat-footer-cell *matFooterCellDef>
            {{ getTotalCals() }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr
          mat-footer-row
          *matFooterRowDef="displayedColumns; sticky: true"
        ></tr>
      </table>
    </section>
  </div>
</section>
