<div class="grid">
  <div class="grid-element breakfast">
    <meal title="breakfast" placeholder="Porridge"></meal>
  </div>
  <div class="grid-element lunch">
    <meal title="lunch" placeholder="Sandwich"></meal>
  </div>
  <div class="grid-element dinner">
    <meal title="dinner" placeholdere="Steak"></meal>
  </div>
  <div class="grid-element snacks">
    <meal title="snacks" placeholder="Fruit"></meal>
  </div>
  <div class="grid-element workouts">
    <workout title="workouts" placeholder="Running"></workout>
  </div>
  <div class="grid-element totals">
    <summary title="summary"></summary>
  </div>
</div>
