<div class="grid">
  <div class="grid-element breakfast">
    <meal mealType="breakfast" example="Porridge"></meal>
  </div>
  <div class="grid-element lunch">
    <meal mealType="lunch" example="Sandwich"></meal>
  </div>
  <div class="grid-element dinner">
    <meal mealType="dinner" example="Steak"></meal>
  </div>
  <div class="grid-element snacks">
    <meal mealType="snacks" example="Fruit"></meal>
  </div>
  <div class="grid-element workouts"></div>
  <div class="grid-element totals"></div>
</div>
