.container {
  padding: 1rem;
}

// Title Styles
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  height: 8vh;
}

.summary {
  background-image: url("../../../../assets/images/summary.jpg");
}

h2 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  color: ghostwhite;
  font-size: 2.5rem;
}

// Form Styles
.form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 1rem;
}

.input-field {
  padding-right: 2rem;
  font-size: 1rem;
}

button {
  margin-left: auto;
  height: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
}

li {
  list-style-type: none;
}

// Table Styles
.table-container {
  height: 300px;
  overflow: auto;
  text-align: start;
}

table th {
  font-size: 1.2rem;
}

table td {
  font-size: 1rem;
}

table {
  -ms-overflow-style: none; /* IE and Edge */
  width: 100%;
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.table-container::-webkit-scrollbar {
  display: none;
}

tr.mat-footer-row {
  font-weight: bold;
  text-align: start;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

// Total Styles
.totals {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.5rem;
  color: ghostwhite;
  text-align: center;
}

.total-item {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  padding: 1rem 2rem;
  width: 20%;
}

.totals h3 {
  font-weight: 900;
  font-size: 1.5rem;
}

.totals p {
  font-style: italic;
  font-size: 1rem;
}

.goal h3 {
  color: coral;
}

.food h3 {
  color: cornflowerblue;
}

.exercise h3 {
  color: indianred;
}

.remaining h3 {
  color: greenyellow;
}

// Media Queries

@media screen and (max-width: 700px) {
  .title-container {
    height: 10vh;
  }
  .totals {
    flex-wrap: wrap;
  }
  .form-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
}
