// General Styles
.container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

h2 {
  color: ghostwhite;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

// Form Styles
.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
}

.bodydata-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bodystats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mat-mdc-form-field {
  width: 30%;
  font-size: 1.2rem;
}

button {
  margin-right: auto;
  margin-left: auto;
  padding: 1.5rem;
  width: fit-content;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

// Media Queries
@media screen and (max-width: 1000px) {
  .mat-form-field {
    font-size: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .mat-mdc-form-field {
    width: 100%;
    font-size: 1rem;
  }
  .bodydata-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  .bodystats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
}
